@use "sass:color";

$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 7px;

window.Bar {
    border: none;
    box-shadow: none;
    background: transparent;
    //background-color: $bg;
    color: $fg;
    font-family: 'Adwaita Sans';
    font-size: 15px;
    font-weight: bold;

    label {
        margin: 0 8px;
    }

    .Workspaces  {
        button {
            all: unset;
            background-color: transparent;

            &:hover label {
                background-color: color.adjust($fg, $alpha: -0.84);
                border-color: color.adjust($accent, $alpha: -0.8);
            }

            &:active label {
                background-color: color.adjust($fg, $alpha: -0.8)
            }
        }

        label {
            transition: 200ms;
            padding: 0 8px;
            margin: 2px;
            border-radius: $radius;
            border: 1pt solid transparent;
        }

        .focused label {
            background: color.adjust($fg, $alpha: -0.8);
        }

        .offmonitor label {
            color: rgb(146, 146, 146);
        }

        .focused_offmonitor label {
            background: color.adjust($fg, $alpha: -0.8);
            color: rgb(146, 146, 146);
        }
    }

    .SysTray {

        button {
            padding: 4px;
            background-color: transparent;

            &:hover {
                background-color: color.adjust($fg, $alpha: -0.8);
            }
        }
    }

    .FocusedClient {
        color: $accent;
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .ControlCenter {
        margin-left: 6px;
        border-radius: 18px; 
        background-color: color.adjust($fg, $alpha: -0.8);

        * {
            padding: 0 6px;
        };

        &:hover, &:focus {
            background-color: rgb(0, 0, 0);
        }
    }
}
